:root {
  --color-primary: "#6A7280";
}

.response {
  height: 90%;
  width: 100%;
}

.prompt {
  height: 10%;
  width: 100%;
}

.prompt-input:focus {
  outline: none;
}

.prompt-button {
  position: relative;
  right: 43px;
}

.response-recieved {
  border-radius: 1rem 1rem 1rem 0;
}
